<connectionStrings>

  <!--<add name="xameer_ac_klassContext" connectionString="Data Source=.;Initial Catalog=xameer_ac_klass;Integrated Security=True;MultipleActiveResultSets=True"
          providerName="System.Data.SqlClient" />-->
  <add name="VEXLive" connectionString="data source=vitalxperts.com;initial catalog=vitalxpe_accountex;User ID=vitalxpe_accountex;Password=act_VEX555!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
</connectionStrings>
