@using AccountEx.CodeFirst.Models
@{
    ViewBag.Title = "User Companies";   
}

@section PageTitle
{

    <h1 class="font-green-sharp bold">Manage Companies
    </h1>
}


<div class="row" id="form-info">

    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add/Edit Detail
                </div>
                <div class="actions hide">
                    <a href="javascript:;" onclick="Assets.ListView()" class="btn blue">
                        <i class="fa fa-angle-left"></i>&nbsp;Back to list 
                    </a>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="save">
                    <input type="text" id="Id" class="hide" />

                    <div class="form-body">
                        <div class="hide alert alert-danger container-message">
                            <i class="close" onclick="$(this).parent().hide();"></i>
                            <strong></strong>
                            <div class="form-body message-content"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Company</label>
                            <div class="col-md-3">
                                <select id="AuthCompanyId" class='form-control select2' data-required="required" data-message="Company is required">
                                    @foreach (var Company in (List<Company>)ViewBag.Companies)
                                    {
                                        <option value="@Company.Id">@Company.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">User</label>
                            <div class="col-md-3">
                                <select id="UserId" class='form-control select2' data-required="required" data-message="User is required">
                                    @foreach (var User in (List<User>)ViewBag.Users)
                                    {
                                        <option value="@User.Id">@User.Username</option>
                                    }
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="form-actions">
                        <label class="col-md-2 control-label">&nbsp;</label>

                        <div class="col-md-8">
                            <button id="btnAuthCompany" type="button" class="btn btn-primary">Save</button>
                            <button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row hide" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Record Listing
                </div>
                <div class="actions">
                    <button id="btnEdit" type="button" class="btn blue" onclick="Companies.Add()"><i class="fa fa-plus"></i>&nbsp;Authorize Company</button>


                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="mainTable">
                    <thead>
                        <tr>

                            <th>User Name</th>
                            <th>Company</th>
                            <th style="width: 75px;" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="11">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>

 

@section FooterScript
{
    <script src="~/Content/AppJS/Company/Companies.js?v=1"></script>
    <script>
        jQuery(document).ready(function () {
            Companies.init();
        });
    </script>
}
