<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .barcode-container {
            margin: 20px 10px;
            float: left;
        }

        .barcode-value {
            text-align: center;
            display: block;
            max-width: 300px;
            width: 300px;
        }

        /*.barcode-container img {
                max-width: 100% !important;
                width: 100% !important;
            }*/
    </style>

</head>
<body>


    <div id="barcode-conatainer" class="barcode-conatainer">
        {barcodeHtml}
     <!--   <p class='barcode-container'>
            <img src="../../Upload/Temp/barcode/1000.gif" />
            <span class='barcode-value'>1000 (PT-1001)</span>
            <span class='barcode-value'>Kic Oil Klueberoel 4UHI-15 (400ml) 1X12pcs or Paraliq 91 spray mould releasing agent</span>
        </p>-->
    </div>


</body>
</html>
