@{
    Layout = "_Layout.cshtml";

}
@using AccountEx.Common;
@{
    ViewBag.FormTitle = "Daily Activity Ledger";
    ViewBag.Title = ViewBag.FormTitle;

}
<style type="text/css">
    #tbldetail tfoot {
        font-weight: bold;
    }
</style>

@section PageTitle
{

    <h1 class="font-green-sharp bold">
        <span class="main-title">@ViewBag.FormTitle</span>
        <small id="lblReportDate" class="pull-right small visible-print"></small>

    </h1>
}

<!-- END PAGE HEADER-->

<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Report Filters
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
                <div class="actions">
                    <button class="btn blue hidden-print" onclick="window.print();"><i class="fa fa-print"></i>&nbsp;Print </button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="Save">
                    <input type="text" id="Id" class="hide" />
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">From Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="FromDate" data-validate="true" data-required="required" value="@SiteContext.Current.Fiscal.FromDate.ToString(AppSetting.DateFormat)" data-message="From Date" data-fiscal-date="true">

                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label" for="prefix">To Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="ToDate" data-validate="true" data-required="required" value="@SiteContext.Current.Fiscal.ToDate.ToString(AppSetting.DateFormat)" data-message="To Date" data-fiscal-date="true">

                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Type</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <select id="reportType" class="select2-container form-control select2">
                                        <option value="Summary" selected>Summary</option>
                                        <option value="Detail">Detail</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-2 control-label" for="prefix">Price/Qty</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <select id="priceType" class="select2-container form-control select2">
                                        <option value="Quantity" selected>Quantity</option>
                                        <option value="Price">Price</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="form-group">

                        <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
                        <div class="col-md-8">
                            <button id="btnShowReport" type="submit" class="btn btn-primary">Show Report</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title hidden-print">
                <div class="caption">
                    <i class="fa fa-list"></i>Report Data
                </div>
                <div class="tools">
                    <div id="column-hide-show-container" class="column-hide-show-container pull-right hidden-print">
                    </div>
                </div>
                <div class="tools pull-right">
                    @{ Html.RenderPartial("_Export_Button"); }
                </div>
            </div>
            <div class="portlet-body">
                <table id="mainTable" class="table table-striped table-bordered table-hover report-table" data-export='true'>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div id="jsondata" class="hide">
    <p id="data">@ViewBag.FormSetting</p>
</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Reports/DailyActivityLedger.js"></script>
    <script>
        jQuery(document).ready(function () {
            Ledger.init();
        });
    </script>
}
