@{
}
<div class="row-fluid">
    <div class="span12">
        <h2 class="page-title">&nbsp<span class="formtitle">Form</span> <small>manage and receive &nbsp<span class="formtitle">Form</span></small></h2>
    </div>
</div>

<div class="row-fluid" id="masterdetail">
    <section class="widget">
        @* <header>
            <h4>
                <i class="icon-file-alt"></i>
                Show All purchase orders
            </h4>
        </header>*@


        <div class="body">

         


        </div>
    </section>
</div>

