@model AccountEx.Web.Models.GeneralLedgerModel
@using AccountEx.CodeFirst.Models
@using AccountEx.Common
@using AccountEx.Repositories;
@using AccountEx.BussinessLogic;
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Usman Bros Customers";   
}
@{
    var ParentAcc = new Account();
    ParentAcc = new AccountRepository().GetById(SettingManager.CustomerHeadId);
    var Accounts = new AccountRepository().GetChildrenTo3RdLevelDetail(ParentAcc.Id);
   
}
<style type="text/css">
    #tbldetail tfoot {
        font-weight: bold;
    }

    @@media print {
        div.table-scrollable {
            overflow: visible !important;
            font-size: 16px;
        }
    }
    /*.report-table tbody tr td:nth-child(2) {
        text-align: right;
    }*/

  
</style>
@section PageTitle
{

    <h1 class="font-green-sharp bold hidden-print"><span class="main-title">Usman Bros Customers</span>
        @*<small id="lblReportDate" class="pull-right small visible-print">Date: 24/10/2014</small>*@</h1>
}
<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Report Filters
                </div>
                <div class="actions">
                    <button class="btn blue hidden-print" onclick="window.print();"><i class="fa fa-print"></i>&nbsp;Print </button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="Save">
                    <input type="text" id="Id" class="hide" />
                    <div class="form-body">
                        <div class="form-group">

                            <label class="col-md-2 control-label master-account-label" for="prefix">Area</label>
                            <div class="col-md-3">
                                <select class="form-control select2" id="AreaAccountId">
                                    <option value="NULL">All</option>
                                    @foreach (var item in Accounts)
                                    {
                                        <option value="@item.Id">@(item.Name)</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="form-group">

                            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
                            <div class="col-md-8">
                                <button id="btnShowReport" type="submit" class="btn btn-primary">Show Report</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title hidden-print">
                <div class="caption">
                    <i class="fa fa-list"></i>Report Data
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="remove"></a>*@
                </div>
                <div class="tools pull-right">
                    @{ Html.RenderPartial("_Export_Button");  }
                </div>
            </div>
            <div class="portlet-body">
                <table id="UsmanBrosCustomers" class="table table-striped table-bordered report-table" data-export='true'>
                    <thead>
                        <tr>
                            <th>Area</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Group Name</th>
                            <th>Order Taker</th>
                            <th>Saleman</th>

                        </tr>
                        @*<tr data-row='summary' class="hide">
                            <th>Area</th>
                            <th>Code#</th>
                            <th>Name</th>
                            <th>Group Name</th>
                            <th>Order Taker</th>
                            <th>Saleman</th>
                        </tr>*@

                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>

@*<div id="jsondata" class="hide">
    <input id="FormSetting"  type="text" value="@ViewBag.FormSetting" />
</div>*@

@section FooterScript
{
    <script src="~/Content/AppJS/Reports/UsmanBrosCustomers.js"></script>
    <script>
        jQuery(document).ready(function () {
            UsmanBrosCustomers.init();
        });
    </script>
}

