@{
    Layout = "~/Views/Reports/_Layout.cshtml";
    ViewBag.Title = "Date Wise Invoice Performa";
}
@using AccountEx.Common;

@section PageTitle
{

    <h1 class="font-green-sharp bold">

        <span class="main-title">@ViewBag.Title</span>
        <small id="lblReportDate" class="pull-right small visible-print">
        </small>

    </h1>
}

<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Report Filters
                </div>

                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="remove"></a>*@
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="save">
                    <input type="text" id="Id" class="hide" />
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">From Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="FromDate" data-required="required" value="@SiteContext.Current.Fiscal.FromDate.ToString(AppSetting.DateFormat)" data-message="From date is required">
                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label" for="prefix">To Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" id="ToDate" data-required="required" value="@SiteContext.Current.Fiscal.ToDate.ToString(AppSetting.DateFormat)" data-message="To date is required">
                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
                        <div class="col-md-8">
                            <button id="btnShowReport" type="submit" class="btn btn-primary">Show Report</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title hidden-print">
                <div class="caption">
                    <i class="fa fa-list"></i>Summary
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="remove"></a>*@
                </div>
                <div class="tools pull-right">
                    @{ Html.RenderPartial("_Export_Button");  }
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="tbl-sale-detail" class="table table-striped table-bordered table-hover report-table" data-export='true'>
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th>Division</th>
                                <th>Sale Person</th>
                                <th>Customer</th>
                                <th>PI #</th>
                                <th>PI Date</th>
                                <th>Currency</th>
                                <th>PI Value</th>
                                <th>PI Qty</th>
                                <th>PI Invoice Date</th>
                                <th>PI Invoice Qty</th>
                                <th class='align-right'>PI Invoice Value</th>
                                <th>Status</th>
                                <th>PI Link</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
@section FooterScript
{
    <script src="~/Content/AppJS/CRM/Reports/InvoicePerformaDateWise.js"></script>
    <script>
        jQuery(document).ready(function () {
            InvoicePerformaDateWise.init();
        });
    </script>
}
