table.report-summary-info > tbody > tr > td {
    padding: 5px;
    border: 1px solid #AAA;
}

table.report-summary-info td table tr td:first-child {
    font-size: 9px !important;
    text-align: right;
    font-weight: bold;
}

table.report-summary-info td table tr td {
    padding: 2px 5px;
}

#div-report strong {
    font-size: 9px !important;
}

#div-report span {
    font-weight: normal;
    font-size: 11px !important;
}

#div-report .table-bordered td, #div-report .table-bordered th {
    border: 1px solid #AAA !important;
}

/*#tblAgingItems
    {
        border: 1px solid #AAA;
        font-size: 11px;
    }

        #tblAgingItems thead th
        {
            border-bottom: 1px dashed #AAA;
            text-align: center;
        }

        #tblAgingItems tbody td:nth-child(3),
        #tblAgingItems tbody td:nth-child(4),
        #tblAgingItems tbody td:nth-child(5),
        #tblAgingItems tbody td:nth-child(6),
        #tblAgingItems tbody td:nth-child(7),
        #tblAgingItems tbody td:nth-child(8),
        #tblAgingItems tbody td:nth-child(9),
        #tblAgingItems tbody td:nth-child(10)
        {
            text-align: right;
        }

        #tblAgingItems tbody td:nth-child(10)
        {
            padding-right: 10px;
        }*/
#tblAgingItems, #tblgstAgingItems {
    border: 1px solid #AAA;
    font-size: 12px;
}

    #tblAgingItems thead th, #tblgstAgingItems thead th {
        border: 1px solid #AAA;
        padding: 5px;
    }
/*--------------------------------CSS for  New Design---------------------------------*/

#div-report #invoicetitle {
    float: right;
    font-weight: bold;
    color: white;
    background-color: black;
}

#div-report .invInfo {
    float: left;
}

#div-report label {
    font-size: 12px;
}

#report-saleitem thead tr th {
    text-align: center;
}

#report-saleitem tbody tr td:not(:nth-child(2)) {
    text-align: right;
}

#report-saleitem tfoot tr td {
    text-align: right;
}

#tblAgingItems thead th:nth-child(2) {
    width: 180px;
    text-align: right;
}
/*--------------------------------CSS for 2nd Print---------------------------------*/
#div-gstreport #invoicetitle {
    float: right;
    font-weight: bold;
    color: white;
    background-color: black;
}

#div-gstreport .invInfo {
    float: left;
}

#div-gstreport label {
    font-size: 12px;
}

#report-gstsaleitem thead tr th {
    text-align: center;
}

#report-gstsaleitem tbody tr td:not(:nth-child(2)) {
    text-align: right;
}

#report-gstsaleitem tfoot tr td {
    text-align: right;
}

#tblgstAgingItems thead th:nth-child(2) {
    text-align: right;
}

#div-gstreport .table-bordered td, #div-gstreport .table-bordered th {
    border: 1px solid #AAA !important;
}

#img-container {
    width: 240px !important;
    height: 90px !important;
}

    #img-container p, #img-container span, #img-container img {
        height: 100% !important;
        width: 100% !important;
    }

/*@media print {
    #div-report #invoicetitle {
        color: white !important;
        background-color: black !important;
        -webkit-print-color-adjust: exact;
    }
}*/
