<caching>
  <outputCache enableOutputCache="false"/>
  <outputCacheSettings>
    <outputCacheProfiles>
      <add name="Long" duration="3600" varyByParam="none" varyByCustom="Browser"/>
      <add name="Medium" duration="600" varyByParam="none" varyByCustom="Browser"/>
      <add name="Short" duration="60" varyByParam="none" varyByCustom="Browser"/>
    </outputCacheProfiles>
  </outputCacheSettings>
</caching>