<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=.;User ID=master_user;Password=X@master!@#;Initial Catalog=aspnet-AccountEx.Web-20140421135731;AttachDBFilename=|DataDirectory|\aspnet-AccountEx.Web-20140421135731.mdf" providerName="System.Data.SqlClient"/>
  <add name="VEX" connectionString="data source=xameer.com;initial catalog=xameer_vex;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="Personal" connectionString="data source=xameer.com;initial catalog=Xameer_PersonalAccount;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="UmerTraders" connectionString="data source=xameer.com;initial catalog=Xameer_UmerTraders;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="F3SW" connectionString="data source=xameer.com;initial catalog=xameer_f3sw;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="Demo" connectionString="data source=xameer.com;initial catalog=xameer_ac_demo;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="Almadina" connectionString="data source=xameer.com;initial catalog=xameer_ac_almadina;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="Klass" connectionString="data source=xameer.com;initial catalog=xameer_ac_klass;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>

</connectionStrings>
