<connectionStrings>

  <!--<add name="DefaultConnection" connectionString="Data Source=.;User ID=master_user;Password=X@master!@#;Initial Catalog=aspnet-AccountEx.Web-20140421135731;AttachDBFilename=|DataDirectory|\aspnet-AccountEx.Web-20140421135731.mdf" providerName="System.Data.SqlClient"/>-->
  <!--<add name="Default" connectionString="data source=.;initial catalog=amex_dev;User ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="AccountEx" connectionString="data source=XAMEER.COM;initial catalog=xameer_accountex;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="AccountEx" connectionString="data source=xst1;initial catalog=NaturalFood;User ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="AccountEx" connectionString="data source=.;initial catalog=amex_dev;user ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="AccountEx" connectionString="data source=xst1;initial catalog=accountexlive;user ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="accountex" connectionString="data source=xst1;initial catalog=xameer_vex;user id=sa;password=123;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient"/>-->
  <add name="Elmah" connectionString="data source=.;initial catalog=Elmah;User ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="HangfireConnection" connectionString="data source=.;initial catalog=amex_dev;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  <!--<add name="AccountEx" connectionString="data source=.;initial catalog= fortress;User ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="AccountEx" connectionString="data source=.;initial catalog=SFM;User ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="AccountEx" connectionString="data source=.;initial catalog=Fortress;User ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
	<add name="AccountEx" connectionString="data source=13.228.34.182;initial catalog=xameer_accountex;User ID=master_user;Password=X@master!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <!--<add name="AccountEx" connectionString="data source=DESKTOP-MSJPL5R;initial catalog=xameer_accountex;User ID=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <!--<add name="AccountEx" connectionString="data source=13.228.34.182;initial catalog=xameer_accountex;User ID=sa;Password=Sql123!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
</connectionStrings>






