<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings configSource="ConnectionStrings.config" />
  <!--<connectionStrings>
    <add name="xameer_ac_klassContext" connectionString="Data Source=.;Initial Catalog=xameer_ac_klass;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VirtualDirectory" value="" />
    <add key="VoucherStartNumber" value="1" />
    <add key="InvoiceStartNumber" value="1" />
    <add key="BaseUrl" value="http://localhost:27099/" />
    <!--<add key="SourceDatabase" value="AccountexDev" />
    <add key="BaselineCompany" value="IRIS Beauty" />
    <add key="DemoCompany" value="IRIS Beauty" />-->
    <add key="BaselineCompany" value="Inayat Traders" />
    <add key="DemoCompany" value="Inayat Traders" />
    <add key="SourceDatabase" value="xameer_accountex" />
    <add key="IsSiteDown" value="false" />
    <add key="debug" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="true" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="kr" />
    <add key="elmah.mvc.route" value="admin/elmah/secure/error" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="error.default.message" value="The application has encountered an unknown error., It doesn't appear to have affected your data.Please notify our technical staff and they will be looking into this with the utmost urgency." />

    <!-- google calendar Credential-->
    <add key="googlecalendar-consumer-key" value="361649364414-rlqotmbu2vdq0n9g3elga5imi59tln3b.apps.googleusercontent.com" />
    <add key="googlecalendar-consumer-secret" value="2JHHjgVwSSZEdDTuNLBrKxrY" />
    <add key="googlecalendar-redirect_url" value="GoogleCalendarIntegration/CalendarCallback" />
    <add key="googlecalendar-api_base_url" value="https://www.googleapis.com" />
    <add key="googlecalendar-authorization-endpoint_url" value="https://accounts.google.com/o/oauth2/v2/auth" />
    <add key="googlecalendar-authorization_scope" value="https://www.googleapis.com/auth/calendar" />
    <add key="googlecalendar-access-token-endpoint_url" value="https://www.googleapis.com/oauth2/v4/token" />
    <add key="googlecalendar-profile-endpoint_url" value="https://www.googleapis.com/calendar/v3/calendars/primary/events" />
  
  </appSettings>
  <location path="~/Account/login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/Account/CheckLogin">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="~/Account/LogOff">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <customErrors mode="Off" defaultRedirect="~/ErrorPages/Oops">
      <error statusCode="404" redirect="~/ErrorPages/Error404" />
      <error statusCode="500" redirect="~/ErrorPages/Error500" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <globalization uiCulture="en-GB" culture="en-GB" />
    <machineKey validationKey="CDD2C71FD7EFA4AE05DD2B18C2F1C6F0471B4A1B7C660FF3655BB1C228293850D7942B90F5EEF8A341D7C3444E80305F28AE472509DCDB6F77A0CA5880FD0067" decryptionKey="C0F264DA540A2DC174EAEE48F3DD178E3CBDD781EE9964BBC26632A619B6D832" validation="SHA1" decryption="AES" />
    <!--<sessionState mode="StateServer" cookieless="false" timeout="20" />-->
    <sessionState timeout="1700"></sessionState>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<membership defaultProvider="ExtendedSimpleMembershipProvider">
      <providers>
      
        <clear/>
        <add name="ExtendedSimpleMembershipProvider" type="AccountEx.Web.Helpers.ExtendedSimpleMembershipProvider, AccountEx.Web" />
      </providers>
    </membership>-->
    <caching>
      <outputCache enableOutputCache="true" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--Duration is in seconds -->
          <add name="Long" duration="0" varyByParam="none" varyByCustom="Browser" location="Client" />
          <add name="Medium" duration="0" varyByParam="none" varyByCustom="Browser" location="Client" />
          <add name="Short" duration="0" varyByParam="none" varyByCustom="Browser" location="Client" />
          <add name="Login" duration="0" varyByParam="none" varyByCustom="Browser" location="Client" />
          <add name="Dashboard" duration="0" varyByParam="none" varyByCustom="Browser" location="Client" />
          <add name="IrisSale" duration="0" varyByParam="none" varyByCustom="Browser" location="Client" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.9" newVersion="5.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" applicationName="Accountex" />
    <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/Elmah" />-->
    <!--<errorLog type="Elmah.MemoryErrorLog, Elmah" size="50" />-->
  </elmah>
  <location>
    <system.net>
      <mailSettings>
        <smtp deliveryMethod="Network" from="Qureshi Brothers&lt;qb-isb@qureshibrothers.com&gt;">
          <network host="smtp.gmail.com" userName="xameer.co@gmail.com" password="@123X@m33r" port="587" enableSsl="true" defaultCredentials="false" />
        </smtp>
      </mailSettings>
    </system.net>
  </location>
  <location>
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
  </location>
</configuration>