@using AccountEx.Common;

@{
    Layout = "~/Views/Reports/_Layout.cshtml";
    ViewBag.Title = "Income Statement";   
   
}
<style type="text/css">
</style>
@section PageTitle
{

    <h1 class="font-green-sharp bold">

        <span class="main-title">@ViewBag.Title</span>


    </h1>
}
@section VehicleBranchesDropdown
{

    @Html.Partial("../Vehicle/_UserBranches_Dropdown", new ViewDataDictionary { { "Labelcolspan", 2 }, { "Divcolspan", 12 }, { "showLabel", false } })
}
<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>Report Filters
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="remove"></a>*@
                </div>
                <div class="actions">
                    <button class="btn blue hidden-print" onclick="window.print();"><i class="fa fa-print"></i>&nbsp;Print </button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="Save">
                    <input type="text" id="Id" class="hide" />
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">From Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" value="@SiteContext.Current.Fiscal.FromDate.ToString(AppSetting.DateFormat)" type="text" id="FromDate" data-validate="true" data-required="required"  data-fiscal-date="true">
                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 control-label" for="prefix">To Date</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium">
                                    <input class="date-picker form-control date-picker" type="text" value="@SiteContext.Current.Fiscal.ToDate.ToString(AppSetting.DateFormat)" id="ToDate" data-validate="true" data-required="required"  data-fiscal-date="true">
                                    <span class="input-group-btn date-icon">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix"></label>
                            <div class="col-md-3">
                                <table id="report-table" class="table  table-bordered report-table">


                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <table id="report-table-expenses" class="table  table-bordered">


                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
                        <div class="col-md-8">
                            <button type="button" id="btnShowReport" class="btn btn-primary">Show Report</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Vehicle/Reports/IncomeStatment.js"></script>


    <script>
        jQuery(document).ready(function () {
            IncomeStatment.init();
        });
    </script>
}






