@{
    ViewBag.Title = "Dashboard";
    ViewBag.TitleDescription = "dashboard & statistics";
}

<!-- BEGIN PAGE HEADER-->
@section PageTitle
{

    <h1 class="font-green-sharp bold">Dashboard </h1>
}
<div class="row">
    <div class="col-md-6">
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Account Balances</span>
                    <span class="caption-helper">view balances..</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_today_balances" data-toggle="tab">Today</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Periodic <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#overview_1" tabindex="-1" data-toggle="tab">Current Week</a>
                            </li>
                            <li>
                                <a href="#overview_2" tabindex="-1" data-toggle="tab">Current Month</a>
                            </li>
                            <li>
                                <a href="#overview_3" tabindex="-1" data-toggle="tab">Previous Month</a>
                            </li>
                            <li>
                                <a href="#overview_4" tabindex="-1" data-toggle="tab">Current Piscal Year</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="portlet-body">


                <div class="tab-content">
                    <div class="tab-pane active" id="tab_today_balances">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Account Code
                                        </th>
                                        <th>Account Name
                                        </th>
                                        <th>Balance
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sale-001 
                                        </td>
                                        <td>Sale Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Sale Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001 
                                        </td>
                                        <td>Purchase Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Cash Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Bank Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-002
                                        </td>
                                        <td>Stock
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Payables
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_1">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Product Name
                                        </th>
                                        <th>Price
                                        </th>
                                        <th>Sold
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Apple iPhone 4s - 16GB - Black </a>
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>809
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy S III SGH-I747 - 16GB </a>
                                        </td>
                                        <td>$915.50
                                        </td>
                                        <td>6709
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Motorola Droid 4 XT894 - 16GB - Black </a>
                                        </td>
                                        <td>$878.50
                                        </td>
                                        <td>784
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Regatta Luca 3 in 1 Jacket </a>
                                        </td>
                                        <td>$25.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy Note 3 </a>
                                        </td>
                                        <td>$925.50
                                        </td>
                                        <td>21245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Inoval Digital Pen </a>
                                        </td>
                                        <td>$125.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Metronic - Responsive Admin + Frontend Theme </a>
                                        </td>
                                        <td>$20.00
                                        </td>
                                        <td>11190
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_2">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Product Name
                                        </th>
                                        <th>Price
                                        </th>
                                        <th>Views
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Metronic - Responsive Admin + Frontend Theme </a>
                                        </td>
                                        <td>$20.00
                                        </td>
                                        <td>11190
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Regatta Luca 3 in 1 Jacket </a>
                                        </td>
                                        <td>$25.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Apple iPhone 4s - 16GB - Black </a>
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>809
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy S III SGH-I747 - 16GB </a>
                                        </td>
                                        <td>$915.50
                                        </td>
                                        <td>6709
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Motorola Droid 4 XT894 - 16GB - Black </a>
                                        </td>
                                        <td>$878.50
                                        </td>
                                        <td>784
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy Note 3 </a>
                                        </td>
                                        <td>$925.50
                                        </td>
                                        <td>21245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Inoval Digital Pen </a>
                                        </td>
                                        <td>$125.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_3">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th>Customer Name
                                        </th>
                                        <th>Total Orders
                                        </th>
                                        <th>Total Amount
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">David Wilson </a>
                                        </td>
                                        <td>3
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Amanda Nilson </a>
                                        </td>
                                        <td>4
                                        </td>
                                        <td>$12625.50
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jhon Doe </a>
                                        </td>
                                        <td>2
                                        </td>
                                        <td>$125.00
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Bill Chang </a>
                                        </td>
                                        <td>45
                                        </td>
                                        <td>$12,125.70
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Paul Strong </a>
                                        </td>
                                        <td>1
                                        </td>
                                        <td>$890.85
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jane Hilson </a>
                                        </td>
                                        <td>5
                                        </td>
                                        <td>$239.85
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Patrick Walker </a>
                                        </td>
                                        <td>2
                                        </td>
                                        <td>$1239.85
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_4">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Customer Name
                                        </th>
                                        <th>Date
                                        </th>
                                        <th>Amount
                                        </th>
                                        <th>Status
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">David Wilson </a>
                                        </td>
                                        <td>3 Jan, 2013
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>
                                            <span class="label label-sm label-warning">Pending </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Amanda Nilson </a>
                                        </td>
                                        <td>13 Feb, 2013
                                        </td>
                                        <td>$12625.50
                                        </td>
                                        <td>
                                            <span class="label label-sm label-warning">Pending </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jhon Doe </a>
                                        </td>
                                        <td>20 Mar, 2013
                                        </td>
                                        <td>$125.00
                                        </td>
                                        <td>
                                            <span class="label label-sm label-success">Success </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Bill Chang </a>
                                        </td>
                                        <td>29 May, 2013
                                        </td>
                                        <td>$12,125.70
                                        </td>
                                        <td>
                                            <span class="label label-sm label-info">In Process </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Paul Strong </a>
                                        </td>
                                        <td>1 Jun, 2013
                                        </td>
                                        <td>$890.85
                                        </td>
                                        <td>
                                            <span class="label label-sm label-success">Success </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jane Hilson </a>
                                        </td>
                                        <td>5 Aug, 2013
                                        </td>
                                        <td>$239.85
                                        </td>
                                        <td>
                                            <span class="label label-sm label-danger">Canceled </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Patrick Walker </a>
                                        </td>
                                        <td>6 Aug, 2013
                                        </td>
                                        <td>$1239.85
                                        </td>
                                        <td>
                                            <span class="label label-sm label-success">Success </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End: life time stats -->
    </div>
    <div class="col-md-6">
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Recent Orders</span>
                    <span class="caption-helper">with status..</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_today_balances" data-toggle="tab">Pending</a>
                    </li>
                    <li>
                        <a href="#tab_today_balances" data-toggle="tab">Delayed</a>
                    </li>
                    <li>
                        <a href="#tab_today_balances" data-toggle="tab">Delivered</a>
                    </li>
                    <li>
                        <a href="#tab_today_balances" data-toggle="tab">Invoiced</a>
                    </li>


                </ul>
            </div>
            <div class="portlet-body">


                <div class="tab-content">
                    <div class="tab-pane active" id="tab_today_balances">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Account Code
                                        </th>
                                        <th>Account Name
                                        </th>
                                        <th>Balance
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sale-001 
                                        </td>
                                        <td>Sale Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Sale Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001 
                                        </td>
                                        <td>Purchase Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Cash Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Bank Account
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-002
                                        </td>
                                        <td>Stock
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Sale-001
                                        </td>
                                        <td>Payables
                                        </td>
                                        <td>809
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_1">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Product Name
                                        </th>
                                        <th>Price
                                        </th>
                                        <th>Sold
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Apple iPhone 4s - 16GB - Black </a>
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>809
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy S III SGH-I747 - 16GB </a>
                                        </td>
                                        <td>$915.50
                                        </td>
                                        <td>6709
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Motorola Droid 4 XT894 - 16GB - Black </a>
                                        </td>
                                        <td>$878.50
                                        </td>
                                        <td>784
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Regatta Luca 3 in 1 Jacket </a>
                                        </td>
                                        <td>$25.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy Note 3 </a>
                                        </td>
                                        <td>$925.50
                                        </td>
                                        <td>21245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Inoval Digital Pen </a>
                                        </td>
                                        <td>$125.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Metronic - Responsive Admin + Frontend Theme </a>
                                        </td>
                                        <td>$20.00
                                        </td>
                                        <td>11190
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_2">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Product Name
                                        </th>
                                        <th>Price
                                        </th>
                                        <th>Views
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Metronic - Responsive Admin + Frontend Theme </a>
                                        </td>
                                        <td>$20.00
                                        </td>
                                        <td>11190
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Regatta Luca 3 in 1 Jacket </a>
                                        </td>
                                        <td>$25.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Apple iPhone 4s - 16GB - Black </a>
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>809
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy S III SGH-I747 - 16GB </a>
                                        </td>
                                        <td>$915.50
                                        </td>
                                        <td>6709
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Motorola Droid 4 XT894 - 16GB - Black </a>
                                        </td>
                                        <td>$878.50
                                        </td>
                                        <td>784
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Samsung Galaxy Note 3 </a>
                                        </td>
                                        <td>$925.50
                                        </td>
                                        <td>21245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Inoval Digital Pen </a>
                                        </td>
                                        <td>$125.50
                                        </td>
                                        <td>1245
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_3">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th>Customer Name
                                        </th>
                                        <th>Total Orders
                                        </th>
                                        <th>Total Amount
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">David Wilson </a>
                                        </td>
                                        <td>3
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Amanda Nilson </a>
                                        </td>
                                        <td>4
                                        </td>
                                        <td>$12625.50
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jhon Doe </a>
                                        </td>
                                        <td>2
                                        </td>
                                        <td>$125.00
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Bill Chang </a>
                                        </td>
                                        <td>45
                                        </td>
                                        <td>$12,125.70
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Paul Strong </a>
                                        </td>
                                        <td>1
                                        </td>
                                        <td>$890.85
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jane Hilson </a>
                                        </td>
                                        <td>5
                                        </td>
                                        <td>$239.85
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Patrick Walker </a>
                                        </td>
                                        <td>2
                                        </td>
                                        <td>$1239.85
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="overview_4">
                        <div class="table-responsive">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th>Customer Name
                                        </th>
                                        <th>Date
                                        </th>
                                        <th>Amount
                                        </th>
                                        <th>Status
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">David Wilson </a>
                                        </td>
                                        <td>3 Jan, 2013
                                        </td>
                                        <td>$625.50
                                        </td>
                                        <td>
                                            <span class="label label-sm label-warning">Pending </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Amanda Nilson </a>
                                        </td>
                                        <td>13 Feb, 2013
                                        </td>
                                        <td>$12625.50
                                        </td>
                                        <td>
                                            <span class="label label-sm label-warning">Pending </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jhon Doe </a>
                                        </td>
                                        <td>20 Mar, 2013
                                        </td>
                                        <td>$125.00
                                        </td>
                                        <td>
                                            <span class="label label-sm label-success">Success </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Bill Chang </a>
                                        </td>
                                        <td>29 May, 2013
                                        </td>
                                        <td>$12,125.70
                                        </td>
                                        <td>
                                            <span class="label label-sm label-info">In Process </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Paul Strong </a>
                                        </td>
                                        <td>1 Jun, 2013
                                        </td>
                                        <td>$890.85
                                        </td>
                                        <td>
                                            <span class="label label-sm label-success">Success </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Jane Hilson </a>
                                        </td>
                                        <td>5 Aug, 2013
                                        </td>
                                        <td>$239.85
                                        </td>
                                        <td>
                                            <span class="label label-sm label-danger">Canceled </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript:;">Patrick Walker </a>
                                        </td>
                                        <td>6 Aug, 2013
                                        </td>
                                        <td>$1239.85
                                        </td>
                                        <td>
                                            <span class="label label-sm label-success">Success </span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe">View </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End: life time stats -->
    </div>

</div>
@section FooterScript
{
    <script src="../../Content/AppJS/Account/Dashboard.js"></script>
    <script>
        jQuery(document).ready(function () {
            Dashboard.init();
            Dashboard.initDashboardDaterange();
            Dashboard.initCharts();
        });
    </script>
}