@using AccountEx.Common;
@using AccountEx.BussinessLogic;
@using BussinessLogic;

@{
    ViewBag.Title = "Product Receipe";
}
@section PageTitle
{
    <h1 class="font-green-sharp bold hidden-print">Manage @ViewBag.Title</h1>
}

<div class="row hidden-print" id="form-info">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add/Edit @ViewBag.Title
                </div>
            </div>
            <div class="portlet-body form">

                <div id="mainform" class="form-horizontal" data-save="save">

                    <input type="text" id="Id" class="hide" data-include-in-item="true" data-item-id="ProductReceipeId" />
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label master-account-label" for="prefix">Product</label>
                            <div class="col-md-6">
                                <select id="ProductId" class="form-control select2" placeholder="Select product" data-required="required" data-message="product is required" data-clear='true'></select>
                            </div>


                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Quantity</label>
                            <div class="col-md-1 col-sm-4">
                                <input class="form-control num3" type="text" name="text" id="Quantity" />

                            </div>

                        </div>

                        <div class="row" data-save="false">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 saleitem-container scroller12" data-always-visible="1" data-rail-visible1="1">
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>Item List
                                        </div>
                                    </div>
                                </div>
                                <table id="item-container" class="table table-bordered griditem">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th style="width: 40%;">Name</th>
                                            <th class="align-right">%age</th>
                                            <th colspan="2" class="align-right">Quantity</th>
                                            <th class="align-right hide">Rate</th>
                                            <th class="align-right hide">Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-plus-as-tab="false"></tbody>
                                    <tfoot data-plus-as-tab="false">
                                        <tr class="bold well">
                                            <td colspan="2" class="bold align-right">Total &nbsp;</td>
                                            <td></td>
                                            <td colspan="1" class="bold well align-right">
                                                <input type="text" class="Quantity form-control input-small" disabled="disabled" readonly="readonly">
                                            </td>
                                            <td class="hide"></td>
                                            <td class="align-right hide">
                                                <input type="text" class="Amount form-control input-small" disabled="disabled" readonly="readonly">
                                            </td>
                                            <td colspan="2" class=""></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>


                        </div>

                    </div>
                    <div class="form-actions">
                        <label class="col-md-2 control-label" for="prefix">&nbsp;</label>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary green" onclick="ProductReceipe.Save()" data-plus-as-tab="false">Save</button>
                            <button id="btnCancel" type="button" class="btn btn-default" onclick="ProductReceipe.Add()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Receipe Listing
                </div>

                <div class="actions hide">
                    <button id="btnEdit" type="button" class="btn blue" onclick="ProductReceipe.Add()"><i class="fa fa-plus"></i>&nbsp;New</button>


                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="mainTable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Created By</th>
                            <th>Created on </th>

                            <th style="width: 75px;" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
<div id="jsondata" class="hide">
    <p id="data">@ViewBag.FormSetting</p>
</div>



<script type="text/html" id="template-item">
    <tr>

        <td>
            <input type="hidden" class="ItemId" id="ItemId" data-db-column="ItemId">
            <input type="hidden" class="Id" data-db-column="Id">
            <input type="hidden" class="EntryType" id="EntryType" data-db-column="EntryType" value="@((int)EntryType.Item)"><input type="hidden">
            <input type="text" class="Code form-control typeahead input-small ui-autocomplete-input" data-db-column="ItemCode" autocomplete="off">
        </td>
        <td>
            <input type="text" disabled="disabled" class="Name form-control input-medium" data-db-column="ItemName">
        </td>
        <td class="align-right">
            <input type="text" class="Percentage form-control input-small num3" data-db-column="Percentage" data-db-type="float">
        </td>
        <td class="align-right">
            <input type="text" class="Quantity form-control input-small num3" data-db-column="Quantity" data-db-type="float">
        </td>
        <td style="width: 4%;">
            <input type="text" class="Unit form-control input-small" data-db-column="Unit" disabled>
        </td>
        <td class="align-right hide">
            <input type="text" class="Rate form-control input-small num3" data-db-column="Rate" data-db-type="float">
        </td>
        <td class="align-right hide">
            <input type="text" class="Amount form-control input-small num3" disabled="disabled" readonly="readonly" data-db-column="Amount" data-db-type="float">
        </td>
        <td style="width: 8px;">
            <span class="action"><i class="fa fa-trash-o" onclick="ProductReceipe.DeleteRow(this)" data-original-title="Delete Item"></i></span>

        </td>

    </tr>
</script>
@section FooterScript
{

    <script src="~/Content/AppJS/Production/ProductReceipe.js"></script>
    <script>
        jQuery(document).ready(function () {
            ProductReceipe.init();
        });
    </script>
}

