<li class="start">
    <a href="~/@ViewContext.RouteData.Values["application"]/account/dashboard"><i class="icon-home"></i><span class="title">Dashboard</span></a>
</li>
<li>
    <a href="~/@ViewContext.RouteData.Values["application"]/account/chart-of-accounts"><i class="fa fa-sitemap"></i><span class="title">Chart of Account</span></a>
</li>
<li>
    <a href="~/@ViewContext.RouteData.Values["application"]/transaction/opening-balance"><i class="fa fa-table"></i><span class="title">Opening Balance</span></a>
</li>
<li>
    <a href="javascript:;">
        <i class="icon-wrench"></i>
        <span class="title">Management
        </span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="~/@ViewContext.RouteData.Values["application"]/project/index">Projects
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-money"></i>
        <span class="title">Payroll
        </span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="~/@ViewContext.RouteData.Values["application"]/payroll/salary">Salaries
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="icon-basket"></i>
        <span class="title">Transactions
        </span>
        <span class="arrow "></span>
    </a>
    <ul class="transaction sub-menu">
        <li>
            <a href="~/@ViewContext.RouteData.Values["application"]/transaction/index?type=Sale" data-type="Sale">Sales
            </a>
        </li>
        <li>
            <a href="~/@ViewContext.RouteData.Values["application"]/transaction/index?type=Purchase" data-type="Purchase">Purchases
            </a>
        </li>
        <li>
            <a href="~/@ViewContext.RouteData.Values["application"]/transaction/index?type=SaleReturn" data-type="SaleReturn">Sale Returns
            </a>
        </li>
        <li>
            <a href="~/@ViewContext.RouteData.Values["application"]/transaction/index?type=PurchaseReturn" data-type="PurchaseReturn">Purchase Returns
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;"><i class="icon-grid"></i><span class="title">Vouchers</span><span class="arrow "></span></a>
    <ul class="voucher sub-menu">
        <li><a href="~/@ViewContext.RouteData.Values["application"]/transaction/voucher?type=CashReceipts" data-type="CashReceipts">Cash Receipts</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/transaction/voucher?type=CashPayments" data-type="CashPayments">Cash Payments</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/transaction/voucher?type=BankReceipts" data-type="BankReceipts">Bank Receipts</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/transaction/voucher?type=BankPayments" data-type="BankPayments">Bank Payments</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/transaction/voucher?type=TransferVoucher" data-type="TransferVoucher">Transfer Vouchers</a></li>
    </ul>
</li>

<li class="accordion-group">
    <a href="javascript:;">
        <i class="icon-bar-chart"></i>
        <span class="title">Reports
        </span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li><a href="~/@ViewContext.RouteData.Values["application"]/reports/general-ledger">General Ledger</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/reports/sale-invoice">Sale Invoice</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/reports/trial-balance">Trial Balance</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/reports/account-balances">Account Balances</a></li>
        <li><a href="~/@ViewContext.RouteData.Values["application"]/reports/voucher-print">Voucher Print</a></li>
    </ul>
</li>





