<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.0.0.22" targetFramework="net45" />
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.BulkInsert-ef6-ext" version="6.0.3.1" targetFramework="net45" />
  <package id="EntityFramework.MappingAPI" version="6.1.0.10" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="Scriban" version="2.1.1" targetFramework="net45" />
  <package id="Select.HtmlToPdf" version="18.2.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net45" />
</packages>