@{
    Layout = null;
}

<div class="note note-warning note-bordered">
    <h4 class="block">Head Account Missing</h4>
    <p>
        <i class="fa-lg fa fa-warning"></i>Head Account is missing in the application settings.In order to create account head account must be added in settings.Add missing head account in settings and then try again by <a href="@Request.Url"><i class="fa fa-refresh"></i>&nbsp;Relaoding</a>&nbsp;the current page.
    </p>
</div>
