@using AccountEx.Common
@using AccountEx.BussinessLogic;
@{
    ViewBag.Title = "Banks";   
}

@section PageTitle
{

    <h1 class="font-green-sharp bold">Manage Banks </h1>
}

<!-- END PAGE HEADER-->
@if (SettingManager.BankHeadId == 0)
{
    @Html.Partial("_HeadAccountMissing")
}
<div class="row" id="form-info">
    <input type="text" id="AccountDetailFormId" class="hide" value="@((int)AccountDetailFormType.Banks)" />
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add/Edit Detail
                </div>
                <div class="actions hide">
                    <a href="javascript:;" onclick="Banks.ListView()" class="btn blue">
                        <i class="fa fa-angle-left"></i>&nbsp;Back to list 
                    </a>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="save">
                    <input type="text" id="Id" class="hide" />
                    <input type="text" id="TempCode" class="hide" />
                    <div class="form-body">
                        <div class="hide alert alert-danger container-message">
                            <i class="close" onclick="$(this).parent().hide();"></i>
                            <strong></strong>
                            <div class="form-body message-content"></div>
                        </div>
                        @Html.Partial("_ParentAccount", new ViewDataDictionary { { "HeadId", SettingManager.BankHeadId }, { "Labelcolspan", 2 }, { "Divcolspan", 3 } })
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Account Code</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control " id="Code" placeholder="Account Code" data-required="required" data-validate="true" data-message="Account Code is required"  data-plus-as-tab="false" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Bank Name</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="Name" />
                            </div>
                              <label class="col-md-2 control-label" for="prefix">Bank Email</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="Email" placeholder="Email" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">A/c Number</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="AccountNumber" placeholder="Account Number" />
                            </div>
                            <label class="col-md-2 control-label" for="prefix">A/c Title</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="AccountTitle" placeholder="Account Title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Branch Name</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="Branch" placeholder="Branch" />
                            </div>
                            @*  </div>
                        <div class="form-group">*@
                            <label class="col-md-2 control-label" for="prefix">Branch Code</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="BranchCode" placeholder="Branch Code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">IBAN</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="IBN" placeholder="IBAN" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">SwiftCode</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="SwiftCode" placeholder="SwiftCode" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Address</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="Address" placeholder="Address"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Contact Number</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="ContactNumber" placeholder="Contact Number" data-validate="true" data-message="Contact Number is required" >
                            </div>
                            <label class="col-md-2 control-label" for="prefix">Contact Person</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="ContactPerson" placeholder="Contact Person" data-validate="true" data-message="Contact Person is required" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Others</label>
                            <div class="col-md-8">
                                <textarea id="Others" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    @if (SiteContext.Current.RoleAccess.CanCreate)
                    {
                        <div class="form-actions">
                            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>

                            <div class="col-md-8">
                                <button type="button" class="btn btn-primary" onclick="Banks.Save()">Save</button>
                                <button id="btnCancel" type="button" class="btn btn-default" onclick="Banks.ListView()">Cancel</button>
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Record Listing
                </div>
                <div class="actions hide">
                    <button id="btnEdit" type="button" class="btn blue " onclick="Banks.Add()"><i class="fa fa-plus"></i>&nbsp;New</button>
                    <button id="btnSave" type="button" class="btn blue hide" onclick="Banks.Save()"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
                    @*<div class="btn-group">
                        <a class="btn purple" href="#" data-toggle="dropdown">
                            <i class="fa fa-cogs"></i>&nbsp;Tools <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    <i class="fa fa-pencil"></i>Edit
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-trash-o"></i>Delete
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-print"></i>Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-table"></i>Export to CSV
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-bar-chart-o"></i>Export to excel
                                </a>
                            </li>
                        </ul>
                    </div>*@
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="mainTable">
                    <thead>
                        <tr>
                            <th style="width: 8px;" class="no-sort">
                                <input type="checkbox" class="group-checkable" data-set="#mainTable .checkboxes" />
                            </th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Bank</th>
                            <th>NTN </th>
                            <th>GST</th>
                            <th>Phone</th>
                            <th>Contact Person</th>
                            <th>Email</th>
                            <th style="width: 75px;" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="11">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Manage/Banks.js"></script>
    <script>
        jQuery(document).ready(function () {
            Banks.init();
        });
    </script>
}
