@using AccountEx.Common
@using AccountEx.BussinessLogic;
@{
    ViewBag.Title = "Manage Expences";   
}
@section PageTitle
{

    <h1 class="font-green-sharp bold">Manage Expences</h1>
}

<!-- END PAGE HEADER-->
@if (SettingManager.ExpensesHeadId == 0)
{
    @Html.Partial("_HeadAccountMissing")
}
<div class="row" id="form-info">
    <input type="text" id="AccountDetailFormId" class="hide" value="@((int)AccountDetailFormType.Expences)" />
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add/Edit Expences
                </div>
                <div class="actions hide">
                    <a href="javascript:;" onclick="Expences.ListView()" class="btn blue">
                        <i class="fa fa-angle-left"></i>&nbsp;Back to list 
                    </a>
                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="save">
                    <input type="text" id="Id" class="hide" />
                    <input type="text" id="TempCode" class="hide" />
                    <div class="form-body">
                        <div class="hide alert alert-danger container-message">
                            <i class="close" onclick="$(this).parent().hide();"></i>
                            <strong></strong>
                            <div class="form-body message-content"></div>
                        </div>
                        @Html.Partial("_ParentAccount", new ViewDataDictionary { { "HeadId", SettingManager.ExpensesHeadId }, { "Labelcolspan", 2 }, { "Divcolspan", 6 } })
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Account Code</label>
                            <div class="col-md-1">
                                <input type="text" class="form-control " id="Code" data-required="required" data-message="Account Code is required" data-plus-as-tab="false" />
                            </div>
                            <label class="col-md-1 control-label" for="prefix">Name</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control " id="Name" data-required="required" data-message="Account Name is required" />
                            </div>
                            <label class="control-label" for="IsUniquePerVehicle">
                                <input type="checkbox" class="form-control " id="IsUniquePerVehicle" data-checktrack='false'>&nbsp;
                                    Unique</label>
                            <label class=" control-label" for="IsVehicleRequired">
                                &nbsp;
                                <input type="checkbox" class="form-control " id="IsVehicleRequired" data-checktrack='false'>
                                Required
                            </label>
                        </div>






                    </div>
                    @if (SiteContext.Current.RoleAccess.CanCreate)
                    {
                        <div class="form-actions">
                            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>

                            <div class="col-md-8">
                                <button type="button" class="btn btn-primary" onclick="Expences.Save()">Save</button>
                                <button id="btnCancel" type="button" class="btn btn-default" onclick="Expences.ListView()">Cancel</button>
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Expence Listing
                </div>
                <div class="actions hide">
                    <button id="btnEdit" type="button" class="btn blue" onclick="Expences.Add()"><i class="fa fa-plus"></i>&nbsp;New</button>
                    <button id="btnSave" type="button" class="btn blue hide" onclick="Expences.Save()"><i class="fa fa-check"></i>&nbsp;Save Changes</button>

                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="mainTable">
                    <thead>
                        <tr>
                            @*<th style="width: 8px;" class="no-sort">
                                <input type="checkbox" class="group-checkable" data-set="#mainTable .checkboxes" />
                            </th>*@
                            <th>Code</th>
                            <th>Title</th>
                            <th style="width: 75px;" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="11">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Manage/Expences.js"></script>

    <script>
        jQuery(document).ready(function () {
            Expences.init();
        });
    </script>
}
