@using AccountEx.Common
@using AccountEx.BussinessLogic;
@{
    ViewBag.Title = "Shippers";
}
@section PageTitle
{

    <h1 class="font-green-sharp bold">Manage Suppliers</h1>
}

<!-- END PAGE HEADER-->
@if (SettingManager.SupplierHeadId == 0)
{
    @Html.Partial("_HeadAccountMissing")
}
<div class="row" id="form-info">
    <input type="text" id="AccountDetailFormId" class="hide" value="@((int)AccountDetailFormType.Suppliers)" />
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Add/Edit Shippers
                </div>
                <div class="actions hide">
                    <a href="javascript:;" onclick="Shippers.ListView()" class="btn blue">
                        <i class="fa fa-angle-left"></i>&nbsp;Back to list
                    </a>
                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" data-save="save">
                    <input type="text" id="Id" class="hide" />
                    <input type="text" id="TempCode" class="hide" />
                    <div class="form-body">
                        <div class="hide alert alert-danger container-message">
                            <i class="close" onclick="$(this).parent().hide();"></i>
                            <strong></strong>
                            <div class="form-body message-content"></div>
                        </div>
                        @Html.Partial("_ParentAccount", new ViewDataDictionary { { "HeadId", SettingManager.SupplierHeadId }, { "Labelcolspan", 2 }, { "Divcolspan", 5 } })
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Account Code</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="Code" data-required="required" data-message="Account Code is required" data-plus-as-tab="false" />
                            </div>
                            <label class="col-md-2 control-label" for="prefix">Name</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="Name" data-required="required" data-message="Account Name is required" />
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Contact Number</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="ContactNumber" placeholder="Contact Number" data-validate="true" data-message="Contact Number is required" >
                            </div>
                            <label class="col-md-2 control-label" for="prefix">Fax Number</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="FaxNumber" placeholder="Fax Number" data-validate="true" data-message="Fax Number is required" >
                            </div>


                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Email</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="Email" placeholder="Email" />
                            </div>
                            <label class="col-md-2 control-label" for="prefix">Country</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="Country" placeholder="Country" data-validate="true" data-message="Country is required" >
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">P.O.Box</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " id="PoBoxNo" placeholder="P.O.Box">
                            </div>
                            <div class="col-md-1">
                                <label id="lblforex" class="control-label" for="IsForex">
                                    <input type="checkbox" id="IsForex" data-checktrack='false' />
                                    Forex
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prefix">Address</label>
                            <div class="col-md-5">
                                <textarea class="form-control" id="Address" placeholder="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    @if (SiteContext.Current.RoleAccess.CanCreate)
                    {
                        <div class="form-actions">
                            <label class="col-md-2 control-label" for="prefix">&nbsp;</label>

                            <div class="col-md-8">
                                <button type="button" class="btn btn-primary" onclick="Shippers.Save()">Save</button>
                                <button id="btnCancel" type="button" class="btn btn-default" onclick="Shippers.ListView()">Cancel</button>
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="row" id="div-table">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Shippers Listing
                </div>
                <div class="actions hide">
                    <button id="btnEdit" type="button" class="btn blue" onclick="Shippers.Add()"><i class="fa fa-plus"></i>&nbsp;New</button>
                    <button id="btnSave" type="button" class="btn blue hide" onclick="Shippers.Save()"><i class="fa fa-check"></i>&nbsp;Save Changes</button>

                </div>
                <div class="tools hide">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="hide alert alert-danger container-message">
                    <i class="close" onclick="$(this).parent().hide();"></i>
                    <strong></strong>
                    <div class="form-body message-content"></div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="mainTable">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th style="width: 75px;" class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="11">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</div>
@section FooterScript
{
    <script src="~/Content/AppJS/Manage/Shippers.js"></script>
    <script>
        jQuery(document).ready(function () {
            Shippers.init();
        });
    </script>
}
