@{
    Layout = null;
}
<div class="form-horizontal" data-save="save">

    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Assets  </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Assets" data-coa="coa">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Banks  </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Banks" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Cash Head</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.CashHead" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Customers  </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Customers" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Products  </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Products" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Suppliers  </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Suppliers" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Employees  </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Employees" data-coa="coa">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Stock Value Function</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="Stock.StockValueFunction" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Opening Stock Value Type</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="Stock.StockValueType" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">PLS A/c (Profit & Loss)</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.PLS" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Vehicles</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Vehicle" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Monthly Rent</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.MonthlyRent" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Utliliy Charge</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Utliliycharge" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Electricity Charge</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Electricitycharge" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Tracker Purchase A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.TrackerPurchaseAc" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Tracker Sale A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.TrackerSaleAc" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Insurance Sale A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.InsuranceAc" data-coa="coa" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Insurance Purchase A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.InsurancePurchaseAc" data-coa="coa" />
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">LogBook A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.LogBookAc" data-coa="coa" />
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Depriciation A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.DepriciationAc" data-coa="coa" />
                    </div>
                </div>


            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Tenant </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Tenants" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Salesman</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Salesman" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">OrderTakers</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.OrderTakers" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">TerritoryManagers</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.TerritoryManagers" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Services</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Services" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Site Generator</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Sites" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Equipments</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Equipments" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Equipments((Repairing))</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.InHouseEquipments" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Equipments(Site Serivce)</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.SiteEquipments" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Equipments(Customer Service)</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.ExternalEquipments" data-coa="coa">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Direct Expense Head A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.DirectExpensesHeadAc" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Expense Head A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.ExpensesHeadAc" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Revenue Head A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.RevenuHeadAc" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Daily Expense A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.DailyExpenseAc" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">BL Expense Head</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.BLExpensesHeadAc" data-coa="coa">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Indirect Expense Head</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.IndriectExpensesHeadAc" data-coa="coa">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Project Head</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.ProjectHeadAc" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Misc Charges</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.MiscChargesHead" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Labour Heads</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Labours" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Demerages Heads</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.Demerages" data-coa="coa">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
