@{
    Layout = null;
}
<div class="form-horizontal" data-save="save">

    <div class="form-body">
        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Services AccountId</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.ServicesAcId" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Services(Customer Service Order)</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.MaterialServicesAcId" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Bank Account Id</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.BankAccountId" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Cash In hand</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.CashInHand" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Surcharge Account</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.SurchargeAc" data-coa="coa">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Daily Revenue</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.DailyRevenue" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Work In Process</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.WorkInProcess" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Expense A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.ExpensesAc" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Equipment A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.EquipmentAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Rental Income A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.RentalIncomeAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Stock Consumption A/C(For Site & Repairing)</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.StockConsumptionAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Finished Production</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.FinishedProduction" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Discount</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Discount" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Wheat</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Wheat" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Weigh Bridge</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.WeighBridge" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Wheat Trade</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.WheatTrade" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Bardana Jute</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.BardanaJute" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Bardana Plastic</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.BardanaPlastic" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Food Department HeadId</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.FoodDepartmentHeadId" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Govt Wheat HeadId</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.GovtWheatHeadId" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">AIT</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.AIT" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">CD</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.CD" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">RD</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.RD" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">SED</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.SED" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">FWD</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.FWD" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Comission A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.ComissionAC" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">EOBI</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.EOBI" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Provident Fund</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.ProvidentFund" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Freight</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Freight" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Govt Jute HeadId</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.GovtJuteHeadId" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Govt Plastic HeadId</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.GovtPlasticHeadId" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Post Dated Cheques</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.PostDatedCheques" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Unpresented Cheque</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.UnpresentedCheque" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Other Income</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.OtherIncome" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Penalty Account Id</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.PenaltyAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Trade In Account Id</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.TradeInAC" data-coa="coa">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Misc Charges</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.MiscCharges" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Sale A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.SaleAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Adjustment A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.AdjustmentAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Sale Return A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.SaleReturnAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Purchase A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.PurchaseAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Purchase Return A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.PurchaseReturnAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">GST Sale A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.GSTSaleAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">GST Sale Return A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.GSTSaleReturnAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">GST Purchase  A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.GSTPurchaseAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">GST Purchase Return A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.GSTPurchaseReturnAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Service Expenses A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.ServiceExpensesAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Site A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.SiteAC" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Labour Head A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.LabourHeadAc" data-coa="coa">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Demerages Head A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.DemeragesHeadAc" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Cutting</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Cutting" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Loading</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Loading" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Carriage</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Carriage" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">WHTAC</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.WHTAC" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Wheat Purchase HeadId</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.WheatPurchaseHeadId" data-coa="coa" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Machines</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Machine" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Others</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.Others" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Stock Value A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.StockValue" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">CGS A/C</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.CGS" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Duties Expense</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.DutiesExpense" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Credit Cards Sale</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.CreditCardSale" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Promotion Account</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.PromotionAc" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Account Types</label>
                    <div class="col-md-6">
                        <textarea class="form-control " name="COA.AccountTypes" data-plus-as-tab="false"></textarea>
                        <span class="help-inline">one per line</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Salary Expense</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.SalaryExpense" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">SST</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control " name="COA.SST" data-coa="coa">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Unappropriated Profit A/c</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.UnappropriatedProfit" data-coa="coa" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="prefix">Currency Adjustment A/c</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="COA.CurrencyAdjustmentAc" data-coa="coa" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
