#div-report {
        
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        /*font-family: Arial;*/
    }

    .Ivoice-slip {
        font-size: 10px;
    }

    table.report-summary-info > tbody > tr > td {
        padding: 5px;
        border: 1px solid #AAA;
    }

    table.report-summary-info td table tr td:first-child {
        font-size: 10px !important;
        text-align: right;
        font-weight: bold;
    }

    th.table-head {
        font-weight: normal;
    }

    table.report-summary-info td table tr td {
        padding: 2px 5px;
    }

    #div-report strong {
        font-size: 10px !important;
    }

    #div-report span {
        font-size: 10px !important;
    }

    #div-report .table-bordered td, #div-report .table-bordered th {
        border: 1px solid #AAA !important;
    }

    #tblAgingItems {
        border: 1px solid #AAA;
        font-size: 11px;
    }

        #tblAgingItems thead th {
            border-bottom: 1px dashed #AAA;
            text-align: center;
        }

        #tblAgingItems tbody td:nth-child(3),
        #tblAgingItems tbody td:nth-child(4),
        #tblAgingItems tbody td:nth-child(5),
        #tblAgingItems tbody td:nth-child(6),
        #tblAgingItems tbody td:nth-child(7),
        #tblAgingItems tbody td:nth-child(8),
        #tblAgingItems tbody td:nth-child(9),
        #tblAgingItems tbody td:nth-child(10) {
            text-align: right;
        }

        #tblAgingItems tbody td:nth-child(10) {
            padding-right: 10px;
        }

    #report-saleitem {
        width: 100%;
        padding: 5px;
    }

    #div-report .logo span {
        font-size: 15px !important;
    }

    #report-saleitem tr td {
        border: 1px dotted;
    }

    #report-saleitem tbody tr td:not(:nth-child(1)) {
        text-align: center !important;
    }

    #report-saleitem thead tr th:not(:nth-child(1)) {
        text-align: center !important;
    }